.main-nav {
    list-style-type: none;
    margin: 0;
    padding-left: 500px;
    display: flex;
  }
  
  .main-nav li {
    padding-left: 10px;
  }
  
  .main-nav li a {
    text-decoration: underline;
  }
  
  .main-nav li a {
    color: rgb(208, 195, 49);
  }
  .main-nav li a:hover {
    color: rgb(12, 171, 83);
  }
  
  #unique-table th,
  td {
    border: 1px solid;
  }
  
  
  /* .main-nav-2 {
    background-color: purple;
  }
  
  #main-nav-3 {
    background-color: brown;
  } */